
* {
	font-family: 'Poppins', sans-serif;
}


header{
    background: linear-gradient(45deg, rgba(190, 56, 123, 0.6),rgba(21, 169, 189, 0.6)) , url(../res/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100vh;
}

button{
	background-color: #C80258;
	color: white;
	padding-top: 10px;
    padding-bottom: 10px;
	padding-left: 47px;
	padding-right: 47px;
    border: none;
    font-weight:600;
    font-size: 12pt;
    border-radius: 50px;
}

.testohome{
	color:#ffffff;
}

.testohome h4{
	font-weight:100;
}

.buttonHead {
	background: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}

#login{
	padding-left: 47px;
    padding-right: 47px;
}

#loginform{
	width:350px;
	height:500px;
	border-radius:35px;
}



.mente{
	font-size:42pt;
	font-weight:800;
}

.intro h2{
	font-size:42pt;
}

.intro h4{
	font-size:26pt;
	font-weight:200;
	padding-left:60px;
	line-height:0.5;
}

.intro p {
	line-height: 1.6;
	padding-top: 20px;
	font-style:italic;
}

.cercahome{
	color:#ffffff;
	font-size:12pt;
	font-style:italic;
}

 .form-control{
	border-radius:50px;
	border:none;
}

 .form-control{
	border-radius:50px;
	border:none;
}

.input-group-text{
	border-radius:50px 0px 0px 50px !important;
	border:none!important;
}



.bgindex{
	background: #ffffff;
    width:100%;
    height:150px;
	border-radius:75px 75px 0px 0px;
	top: -65px;
	position: relative;
}

/* ---------------------- BODY,FOOTER E REGISTRAZIONE ------------------------- */

#icfb{
	color: #818181
}
#icfb:hover{
	color: #C80258;
}

#icig{
	color: #818181
}
#icig:hover{
	color: #C80258;
}

#icemail{
	color: #818181
}
#icemail:hover{
	color: #C80258;
}

.foot{
	background-color: #1C1C1C; 
	font-size: 12pt; 
	color: #818181;
}

#bottone{
	 padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 20px;
     padding-right: 20px;
	 background-color: #C80258;
	 color: white;
	 border-radius: 50px;
}

#nomeid{

	 border-radius: 50px;
	 border: none;
	 
}

.registrazione .form-control{
	background-color: #F5F5F5 !important; 
	border-radius: 50px !important;
	border: none !important;
}

#serv{
	line-height: 1.2;
	
}

#fun{
	line-height: 1.2;
}

#tratt{
	font-size: 22pt;
	font-weight: 300;
	padding-left:170px;
	line-height:0.5;
}

#trattdue{
	font-size: 22pt;
	font-weight: 300;
	padding-left:60px;
	line-height:1;
	font-style: italic;
}

#spostaASinistra{
	 position: relative;
	 left: -150px;
	 margin-bottom: 100px;
	 z-index: -1;
	 width:127%;
 }
 
 .apici{
	 font-size: 50pt;
	 color: #C80258;
	 line-height:0;
	 padding-top:45px;
 }

 .apicidue{
	 font-size: 50pt;
	 color: #C80258;
	 padding-right:60px;
 }
 
 #staff{
     padding-right:60px;
 }
 
 #boxbianco{
	border-radius: 15px;
	border: none;
 }
 
 .spazio{
 margin-top:150px;
 }

/* POP UP */

.poplibro{
	margin-top: 100px;
	margin-bottom: 100px;
}

.poplibro .inter{
	line-height:0.2;
	font-size: 16pt;
	padding-left: 43px;

}

.poplibro .interdue{
	line-height:0.2;
	font-size: 12pt;
	padding-left: 43px;

}

.poplibro input{

border-radius: 50px;
border: none;
background-color: #eaeaea;
}

.alt{

margin-top: 70px;
	}

/* SECONDO POP UP */

.popcoda{
	margin-top: 100px;
	margin-bottom: 100px;
}

	.popcoda .boh{

		margin-top: 200px;
		margin-bottom: 180px;;
			}
	
	.popcoda .inter{
	line-height:0.2;
	font-size: 16pt;
	padding-left: 43px;
			
			}
			
	.popcoda .interdue{
	line-height:0.2;
	font-size: 12pt;
	padding-left: 43px;
			
			}
	
	.popcoda .but{
	margin-left: 100px;
	}

/* TERZO POP UP DA FINIRE */

.popprezzo{
	margin-top: 100px;
	margin-bottom: 100px;
}

.popprezzo .boh{

	margin-top: 200px;
	margin-bottom: 180px;;
		}

.popprezzo .inter{
line-height:0.2;
font-size: 16pt;
padding-left: 43px;
		
		}
		
.popprezzo .interdue{
line-height:0.2;
font-size: 12pt;
padding-left: 43px;
		
		}

.popprezzo .but{
margin-left: 100px;
}


/* SCROLL TO THE TOP */

#go_top {
    bottom: 30px;
    position: fixed;
    right: 50px;
    z-index: 99;
}
 
#go_top a {
    color: #818181;
    font-size: 45px;
}


.custom-select{
	border-radius: 50px !important;
	border: none;
}

.input-group-text{
	background: #F5F5F5;
}


/* GESTIONE PRENOTAZIONI */

.prenotazioni .chiaro{
	border: none;
	background:white;
	color:black; 
	opacity: 0.3
}

.stonda{
	border-top-left-radius: 25px;
}
.stondadue{
	border-top-right-radius: 25px;
}

th{
	border: none !important;

}

.prenotazioni td{
	border-top: solid 1px #1C1C1C !important;
}

/* GESTIONE UTENTI */

.hiddenRow {
	padding-top: 0 !important;
	padding-bottom: 0 !important;

}

.utenti .bgcoll{
	border: none;
	background-color: rgba(255,255,255,0.5);
	color:black; 
	border: none !important;
}

.utenti td{
	border-top: solid 1px #1C1C1C !important;
}

.utenti .chiaro{
	border: none;
	background-color: rgba(255,255,255,0.3);
	color:black; 
}

.fa-check-circle{
	font-size: 30px;
}

.fa-pencil-alt{
	font-size: 30px;
}

.fa-times-circle{
	font-size: 30px;
}


/* GESTIONE LIBRI */

	.verde{
		color: green
	}

.libri .bgcoll{
	border: none;
	background-color: rgba(255,255,255,0.5);
	color:black; 
	border: none !important;
}
	
.libri td{
	border-top: solid 1px #1C1C1C !important;
}
	
.libri .chiaro{
	border: none;
	background-color: rgba(255,255,255,0.3);
	color:black; 
}

.libri .text{
	width: 700px;
	height: 100px;
	border-radius: 50px;
	border: none !important;
	padding-left: 43px;
	padding-top: 10px;
	padding-bottom: 10px;

	
}
textarea:focus, input:focus{
	outline: 0;
}

.imm{
	padding-left: 40px !important;
}

.spy{
	padding-top: 8px;
}

/* TABELLE STORICI */
.chi{
 background-color: #f6f2f1;
}

.scu{
	background-color: #c7c7c7;

}

/* POPUP RECUPERO PASSWORD */

.recupero .inter{
	line-height:0.2;
	font-size: 16pt;
	padding-left: 43px;

}

.recupero .interdue{
	line-height:0.2;
	font-size: 12pt;
	padding-left: 43px;

}

.recupero input{

border-radius: 50px;
border: none;
background-color: #eaeaea;
}

.recupero{
	margin-bottom: 100px !important;
	margin-top: 100px;
}

/* POPUP NOLEGGIO EFFETTUATO */

.effettuato .inter{
	line-height:0.2;
	font-size: 16pt;
	padding-left: 43px;

}

.effettuato .interdue{
	line-height:0.2;
	font-size: 12pt;
	padding-left: 43px;

}

.noleggio{
	margin-top: 150px;
	margin-bottom: 150px;
	font-size: 40pt;
}


/* PULSANTE SWITCH */

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #03AF1A;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }

  
  input:checked + .slider {
	background-color: #C80258;
	
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #C80258;

  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

  
  /* HEADER STAFF */

.sidebar {
  background-color:  #1C1C1C!important;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #818181;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #1C1C1C;
}

.sidebar .nav-link.active {
  color: #dbdbdb;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}
  
.bottoneamministrativo{
	background-color:  #1C1C1C;
	color: #818181;
   
}  

.nav-link {
  transition: all 0.25s linear;
  position: relative;
}

.nav-link:before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #C80258;
  position: absolute;
  left: 0;
  bottom: -3px; /* this is to match where the border is */
  transform-origin: left; 
  transform: scale(0);
  transition: 0.25s linear;
/*   will-change: transform; */
}

.nav-link:hover:before {
  transform: scale(1);
}