
* {
	font-family: 'Poppins', sans-serif;
}


header{
    background: linear-gradient(45deg, rgba(190, 56, 123, 0.6),rgba(21, 169, 189, 0.6)) , url(../res/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100vh;
}

button{
	background-color: #C80258;
	color: white;
	padding-top: 10px;
    padding-bottom: 10px;
	padding-left: 47px;
	padding-right: 47px;
    border: none;
    font-weight:600;
    font-size: 12pt;
    border-radius: 50px;
}

.nav-link{
	font-weight: 600;
}

.nav-link:hover{
	border-bottom: 5px solid #C80258;
}

.testohome{
	color:#ffffff;
}

.testohome h4{
	font-weight:100;
}

.buttonHead {
	background: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}

#login{
	padding-left: 47px;
    padding-right: 47px;
}

#loginform{
	width:350px;
	height:500px;
	border-radius:35px;
}



.mente{
	font-size:42pt;
	font-weight:800;
}

.intro h2{
	font-size:42pt;
}

.intro h4{
	font-size:26pt;
	font-weight:200;
	padding-left:60px;
	line-height:0.5;
}

.intro p {
	line-height: 1.6;
	padding-top: 20px;
	font-style:italic;
}

.cercahome{
	color:#ffffff;
	font-size:12pt;
	font-style:italic;
}

 .form-control{
	border-radius:50px;
	border:none;
}

 .form-control{
	border-radius:50px;
	border:none;
}

.input-group-text{
	border-radius:50px 0px 0px 50px !important;
	border:none!important;
}



.bgindex{
	background: #ffffff;
    width:100%;
    height:150px;
	border-radius:75px 75px 0px 0px;
	top: -65px;
	position: relative;
}



/* ---------------------- BODY,FOOTER E REGISTRAZIONE ------------------------- */

#icfb{
	color: #818181
}
#icfb:hover{
	color: #C80258;
}

#icig{
	color: #818181
}
#icig:hover{
	color: #C80258;
}

#icemail{
	color: #818181
}
#icemail:hover{
	color: #C80258;
}

.foot{
	background-color: #1C1C1C; 
	font-size: 12pt; 
	color: #818181;
}

#bottone{
	 padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 20px;
     padding-right: 20px;
	 background-color: #C80258;
	 color: white;
	 border-radius: 50px;
}

#nomeid{

	 border-radius: 50px;
	 border: none;
	 
}

.registrazione .form-control{
	background-color: #F5F5F5 !important; 
	border-radius: 50px !important;
	border: none !important;
}

#serv{
	line-height: 1.2;
	
}

#fun{
	line-height: 1.2;
}

#tratt{
	font-size: 22pt;
	font-weight: 300;
	padding-left:170px;
	line-height:0.5;
}

#trattdue{
	font-size: 22pt;
	font-weight: 300;
	padding-left:60px;
	line-height:1;
	font-style: italic;
}

#spostaASinistra{
	 position: relative;
	 left: -150px;
	 margin-bottom: 100px;
	 z-index: -1;
	 width:127%;
 }
 
 .apici{
	 font-size: 50pt;
	 color: #C80258;
	 line-height:0;
	 padding-top:45px;
 }

 .apicidue{
	 font-size: 50pt;
	 color: #C80258;
	 padding-right:60px;
 }
 
 #staff{
     padding-right:60px;
 }
 
 #boxbianco{
	border-radius: 15px;
	border: none;
 }
 
 .spazio{
 margin-top:150px;
 }

/* POP UP */

 .confine{
	border: none;
	border-radius: 50px;

}

.poplibro .inter{
	line-height:0.2;
	font-size: 16pt;
	padding-left: 43px;

}

.poplibro .interdue{
	line-height:0.2;
	font-size: 12pt;
	padding-left: 43px;

}

.poplibro input{

border-radius: 50px;
border: none;
background-color: #eaeaea;
}

.alt{

margin-top: 70px;
	}

/* SECONDO POP UP */

	.popcoda .boh{

		margin-top: 200px;
		margin-bottom: 180px;;
			}
	
	.popcoda .inter{
	line-height:0.2;
	font-size: 16pt;
	padding-left: 43px;
			
			}
			
	.popcoda .interdue{
	line-height:0.2;
	font-size: 12pt;
	padding-left: 43px;
			
			}
	
	.popcoda .but{
	margin-left: 100px;
	}

/* TERZO POP UP DA FINIRE */

.popprezzo .boh{

	margin-top: 200px;
	margin-bottom: 180px;;
		}

.popprezzo .inter{
line-height:0.2;
font-size: 16pt;
padding-left: 43px;
		
		}
		
.popprezzo .interdue{
line-height:0.2;
font-size: 12pt;
padding-left: 43px;
		
		}

.popprezzo .but{
margin-left: 100px;
}


/* SCROLL TO THE TOP */

#go_top {
    bottom: 30px;
    position: fixed;
    right: 50px;
    z-index: 99;
}
 
#go_top a {
    color: #818181;
    font-size: 45px;
}


.custom-select{
	border-radius: 50px !important;
	border: none;
}

.input-group-text{
	background: #F5F5F5;
}

